body {
	color:#2a2a2a;
    font-family: sans-serif;
	/*
	background-image: -ms-linear-gradient(top, #002640 0%, #454545 100%);

	background-image: -moz-linear-gradient(top, #002640 0%, #454545 100%);

	background-image: -o-linear-gradient(top, #002640 0%, #454545 100%);

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #002640), color-stop(1, #454545));

	background-image: -webkit-linear-gradient(top, #002640 0%, #454545 1000px);

	background-image: linear-gradient(to bottom, #002640 0%, #454545 100%);
	background: #94a57b
	background: #4B5669;
	background: #162731;
	background: #679064;
	background-image: url('/styles/imgs/asfalt/asfalt_blue.png');
	background-image: url('/styles/imgs/argyle.png');
	background-image: url('/styles/imgs/dark_wall.png');
	background-image: url('/styles/imgs/dark_wood.png');
	*/
	
	background-image: url('imgs/dark_wall_light.png');
}

h1 {
      color:#2a2a2a; 
      font-family:Arial; 
      font-size:20px;
}

h2 {
      color:#2a2a2a; 
      font-family:Arial; 
      font-size:17px;
}

h3 {
      color:#2a2a2a; 
      font-family:Arial; 
      font-size:15px;
}

p {
      color:#2a2a2a; 
      font-family:Arial; 
      font-size:13px;
}

p.small {
      color:#2a2a2a; 
      font-family:Arial; 
      font-size:11px;
}

p.large {
      color:#2a2a2a; 
      font-family:Arial; 
      font-size:15px;
	  margin-left:8px;
	  word-break: break-all;
}

p.error {
	color: RED;
	text-align:center;
	
}

div.main {
	width:75%; 
	min-height:100%;
	margin-top:0px;
	margin-bottom:30px;
	margin-left:auto; 
	margin-right:auto; 
	background-color: rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0 0 30px 5px #000;
	-webkit-box-shadow: 0 0 30px 5px #000;
	border: 10x solid #2a2a2a;
	border-top:0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

textarea {
	border: 1px solid #2a2a2a;
	color:#2a2a2a;
	font-family:Arial;
	font-size:13px;
	margin-left: 3px;
}


img {
     border:solid 1px #2a2a2a;
}


.border1, .border1 tr, .border1 th, .border1 td
{
	border: 1px solid black;
}

.noborder, .noborder tr, .noborder th, .noborder td
{
	border: 0px;
}

.linklike
{
	background: none;
	border: 0px;
	text-decoration: underline;
	cursor: pointer;
	color: BLUE;
	font-size: 10px;
}

table.nav {
	margin-top:8px;
	margin-bottom:14px;
}

table.nav, .nav td { 
    border:solid;
    border-width:3px;
    text-align:center;
}

td.selected {
    border-color:teal;
}

a.nav {
    text-decoration:none;
    font-size:13px;
}

p.banner {
    text-align:right;
    font-size:13px;

}

table.smallborder, .smallborder tr {
	border:solid;
	border-width:2px;
}

input.small {
	font-size:11px;
	margin-bottom:-15px;
	background: none;
	border: 0px;
	text-decoration: underline;
	cursor: pointer;
	color: BLUE;
	font-size: 10px;
}

